SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.pythonanywhere.com
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://your-admin.vercel.app
TELEGRAM_BOT_TOKEN=your-telegram-bot-token-here
CLINIC_NAME=DentFlow Klinikasi
CLINIC_ADDRESS=Toshkent sh., Chilonzor tumani
CLINIC_PHONE=+998901234567
