# Environment variables — hech qachon commit qilma!
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environment
.venv/
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
